page-detalhes-conta {
    ion-content {
        @include linear-gradient(left,$green-and-blue);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
      }

      .detconta{
          margin-top: 10px;
      }
      
      p{
          color: black;
          font-size: 17px;
      }
      h5{
          margin-top: 0;
          margin-bottom: 0;

      }


}
